/CS106ATiles.class
/Countdown.class
/DrawCenteredRect.class
/FindRange.class
/Hailstone.class
/Pyramid.class
/PythagoreanTheorem.class
/Target.class
/ImageShopAlgorithms.class
/ImageShopAlgorithmsInterface.class
/ImageShopProgram.class
